*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    color:white;
}
/* .hero-img-cont{
     display: flex;
} */
 main{
    background-image: url('films/hero-img.png');
    background-size: cover;
    height:700px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
 }
.netflix-panel{
    position: absolute;
    top:0px;
    height:92px;
    width:1057px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.netflix-logo{
    background-image: url('films/logo.png');
    background-size: cover;
    height: 40px;
    width: 148px;
    text-shadow: 2px 1px 10px black;
}
.language{
    display: flex;
}
.language select{
    background-color: transparent;
    width:100px;
    height: 32px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    margin-right: 15px;
}
.language option{
    color: black;
}
.language p{
    height:32px;
    width: 76px;
    background-color: rgba(255, 0, 0, 0.874);
    font-size: 0.90rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
}
.language p:hover{
   background-color: #C11119;
}



.main-items{
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.unltd-mov{
    display: flex;
    justify-content: center;
}
.unltd-mov h1{
    font-size: 56px;
    font-weight:bolder;
    width: 588px;
    height: 140px;
    text-align: center;
    text-shadow: 2px 1px 10px black;
}
.strt149 p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 32px;
    font-weight: 500;
}
main h3{
    width: 588px;
    height: 24px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.inp-bx{
    display: flex;
}
.inp-bx input{
    width:373px;
    height:56px;
    background-color: transparent;
    color: #B5B4B3;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 4px;
}
.inp-bx button{
    margin-top: 9px;
    height: 60px;
    border-radius: 4px;
    width: 208px;
    font-size: 1.5rem;
    background-color: rgb(242, 2, 2);
    font-weight: 550;
}
.inp-bx button:hover{
    background-color: #C11119;
 }


 .main-sec{
    position: relative;
    bottom:0px;
    height: 2200px;
    width: 100%;
    background-color: black;
    border-top:2.5px solid #C11119;
 }
 .trndg-now h2{
    padding: 80px 0px 0px 150px;
 }
 .list-boxes{
    display: flex;
    padding: 15px 0px 0px 150px;
 }
 .lb1 select{
    height:40px;
    width: 95px;
    background-color: rgba(33, 33, 33, 0.6);
    color: white;
    margin-right: 25px;
    border: none;
    border:0.3px solid #b5b4b39a ;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 0.95rem;
 }
 .lb1 option{
    background-color: white;
    color: black;
 }
 .lb2 select{
    height:40px;
    width: 117px;
    background-color: rgba(33, 33, 33, 0.6);
    color: white;
    border: none;
    border:0.3px solid #b5b4b39a ;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 0.95rem;
 }
 .lb2 option{
    background-color: white;
    color: black;
 }


 .films{
    display: flex;
    width: 1350px;
    justify-content: space-evenly;
 }
 .film1{
    background-image: url('films/film1.jpg');
    background-size: cover;
    height: 252px;
    width:180px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 160px;
 }
 .one{
   font-size: 5rem;
   color: black;
   font-size: 100px;
   font-weight: 800;
   -webkit-text-stroke: 2px #D5D5D5;
   padding-left: 140px;
   text-shadow: 3px 3px 50px black;
   position: relative;
   bottom: -120px;
   right: 170px;
 }
 .film1:hover{
    transition: all 0.1s ease-in-out 0.1s;
    transform: scale(1.05);
 }

 .film2{
    background-image: url('films/film2.jpg');
    background-size: cover;
    height: 252px;
    width:180px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 45px;
 }
 .two{
   font-size: 5rem;
   color: black;
   font-size: 100px;
   font-weight: 800;
   -webkit-text-stroke: 2px #D5D5D5;
   margin-left: 175px;
   text-shadow: 3px 3px 50px  black;
   position: relative;
   bottom: -120px;
   right: 200px;
 }
 .film2:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
 }

 .film3{
    background-image: url('films/film3.jpg');
    background-size: cover;
    height: 252px;
    width:180px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 45px;
 }
 .three{
   font-size: 5rem;
   color: black;
   font-size: 100px;
   font-weight: 800;
   -webkit-text-stroke: 2px #D5D5D5;
   margin-left: 165px;
   text-shadow: 3px 3px 50px  black;
   position: relative;
   bottom: -120px;
   right: 190px;
 }
 .film3:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
 }

 .film4{
    background-image: url('films/film4.jpg');
    background-size: cover;
    height: 252px;
    width:180px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 45px;
 }
 .four{
   font-size: 5rem;
   color: black;
   font-size: 100px;
   font-weight: 800;
   -webkit-text-stroke: 2px #D5D5D5;
   margin-left: 165px;
   text-shadow: 3px 3px 50px  black;
   position: relative;
   bottom: -120px;
   right: 190px;
 }
 .film4:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
 }

 .film5{
    background-image: url('films/film5.jpg');
    background-size: cover;
    height: 252px;
    width:180px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 45px;
 }
 .five{
   font-size: 5rem;
   color: black;
   font-size: 100px;
   font-weight: 800;
   -webkit-text-stroke: 2px #D5D5D5;
   margin-left: 165px;
   text-shadow: 3px 3px 50px  black;
   position: relative;
   bottom: -120px;
   right: 190px;
 }
 .film5:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
 }

 .more-btn{
    height:270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .more-btn button{
    width: 24px;
    height: 120px;
    background-color: #1A1A1A;
    border: none;
    margin-left: 10px;
    border-radius:8px;
 }
 .more-btn button:hover{
    background-color: #b5b4b350;
 }

 .more-res{
   padding-left: 150px;
   margin-top: 70px;
 }
 .more-res-divs{
   display: flex;
   justify-content: space-evenly;
   padding-left: 145px;
   width: 1210px;
 }
 .more-res-divs div{
   margin-top: 15px;
   width: 294px;
   height: 278px;
   background-color: #B5B4B3;
   border-radius: 13px;
   background: linear-gradient(to bottom,#192144,#210E18);
   margin-right: 20px;
 }
 .more-res-divs h3{
   margin-top: 16px;
   padding-left: 15px;
   font-size: 1.5rem;
   font-weight: 600;
 }
 .more-res-divs p{
   margin-top: 16px;
   padding-left: 15px;
   color: #BBBAC2;
 }
 .enjoy i{
   width: 58px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3rem;
   position: relative;
   bottom: -100px;
   left: 210px;
   color:  rgba(251, 140, 169,0.8);
 }
 .dwnld i{
   width: 58px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.3rem;
   position: relative;
   bottom: -90px;
   left: 210px;
   color:  rgba(251, 140, 169,0.8);
 }
 .watch i{
   width: 58px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.3rem;
   position: relative;
   bottom: -100px;
   left: 210px;
   color: rgba(251, 140, 169,0.8);
 }
 .create i{
   width: 58px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 3.3rem;
   position: relative;
   bottom: -85px;
   left: 210px;
   color: rgba(251, 140, 169,0.8);
 }
 
 
 .freq-ask{
   margin: 70px 0 15px 0;
   padding-left: 150px;
 }
 .q1{
   width: 980px;
   height: 84px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q1 h2{
   font-weight: 500;
   padding: 24px;
 }
 .q1 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }

 .q2{
   width: 980px;
   height: 84px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q2 h2{
   padding: 24px;
   font-weight: 500;
 }
 .q2 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }

 .q3{
   width: 980px;
   height: 84px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q3 h2{
   padding: 24px;
   font-weight: 500;
 }
 .q3 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }

 .q4{
   width: 980px;
   height: 84px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q4 h2{
   padding: 24px;
   font-weight: 500;
 }
 .q4 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }

 .q5{
   width: 980px;
   height: 85px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q5 h2{
   padding: 24px;
   font-weight: 500;
 }
 .q5 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }

 .q6{
   width: 980px;
   height: 85px;
   background-color: #2D2D2D;
   margin:0 0 8px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
 }
 .q6 h2{
   padding: 24px;
   font-weight: 500;
 }
 .q6 i{
   padding: 24px;
   font-weight: 100;
   font-size: 30px;
 }
 .questions div:hover{
   background-color: #414141;
 }
 .rdy-below{
  width: 588px;
  height: 24px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-left: 110px;
  margin-top: 75px;
}

.inp-bx2{
  display: flex;
}
.inp-bx2 input{
  width:758px;
  height:56px;
  background-color: transparent;
  color: #B5B4B3;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 4px;
  margin-left: 150px;
  margin-bottom: 35px;
}
.inp-bx2 button{
  margin-top: 9px;
  height: 60px;
  border-radius: 4px;
  width: 195px;
  font-size: 1.5rem;
  background-color: rgb(242, 2, 2);
  font-weight: 550;
}
.inp-bx2 button:hover{
  background-color: #C11119;
}

.call{
  padding-left: 185px;
  color: #AAAAAA;
}
.call a{
  text-decoration: underline;
  color: #AAAAAA;
}

.footer{
  width:1130px;
  height: 132px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer li{
  margin-bottom: 15px;
  text-decoration: underline;
  color: #AAAAAA;
  list-style-type: none;
  font-size: 14px;
}
.col1 li{
  padding-left: 185px;
}

.language2{
  padding-left: 185px;
  margin-top: 40px;
  display: flex;
}
.language2 select{
  background-color: transparent;
  width:100px;
  height: 32px;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  margin-right: 15px;
}
.language2 option{
  color: black;
}

.bottom-p{
  padding-left: 185px;
  margin-top: 40px;
  color: #AAAAAA;
  font-size: 14px;
}


/* THE END */
 
 
 